<!DOCTYPE html>
<html>
<head>
  <% include partials/head-include  %>  
  <style>
    #theForm.ng-invalid {
      background: rgba(0.5, 255, 0, 0, 0)
    }
  </style>  
</head>
<body ng-app="appModule">
 <div ng-controller="AppController">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  <div id="form" ng-controller="FormController">
    <form name="theForm" role="form" method="post" enctype="multipart/form-data" ng-submit="submitForm()">
      <div class="form-group">
        <label for="nameInput">Name</label>
        <input class="form-control" id="nameInput" type="text" name="theName" ng-model="file.name" required>
      </div>
      <div class="form-group">
        <label for="fileInput">File</label>
        <input type="file" name="theFile" class="filestyle" id="fileInput" ng-model="file.file" required valid-file>
      </div>
      <input type="hidden" name="fromPage" value="<%= path%>">
      <input type="submit" class="btn btn-primary">
    </form>
    <p>theForm = {{theForm.toSource()}}</p>
    <p>theForm.theName.$valid = {{theForm.theName.$valid}}</p>
    <p>theForm.theFile.$valid = {{theForm.theFile.$valid}}</p>
    <p>theForm.$valid = {{theForm.$valid}}</p>
    <p>theForm.$error = {{theForm.$error}}</p>
    <p>theForm.$error.required = {{!!theForm.$error.required}}</p>
  </div>

</div>

</body>
<% include partials/bottom-include  %>
</html>
